<div class="container">
    <h1>My parkings</h1>
    <br/>
  
    <div class="row justify-content-xs-center">
    <% @parkings.each do |parking| %>
        <div class="col-xs-12 col-lg-4 align-self-stretch mb-4">
            <div class="card h-100 crd-parkings">
                <% if parking.photo.attached? %>
                    <%= cl_image_tag parking.photo.key, crop: :fill,class:"img-top prk" %>
                <% else %>
                    <%= image_tag "https://source.unsplash.com/1600x900/?parking", alttext:"", class:"img-top prk" %>
                <% end %>
                <div class="card-body">
                    <h4 class="card-title"><%= parking.title %></h4>
                    <p class="card-text" style="overflow:hidden;"><%= parking.description %></p>
                    <small><%= parking.start_date %> / <%= parking.end_date %></small>
                </div>
                <div class="d-flex justify-content-between p-3">
                        <%= link_to parking_bookings_parking_path(parking) do %>
                            <i class="fas fa-plus"></i>
                            <small>Bookings</small>
                            <% end %>
                        <% if parking.available %>
                            <%= link_to pause_parking_path(parking),method: :patch, style:"color:black;" do %>
                                <i class="fas fa-pause"></i>
                                <small>Pause</small>
                            <% end %>
                        <%else%>
                            <%= link_to pause_parking_path(parking),method: :patch, style:"color:black;" do %>
                                <i class="fas fa-play"></i>
                                <small>Unpause</small>
                            <% end %>
                        <%end%>
                        <%= link_to edit_parking_path(parking), style:"color:green;" do %>
                            <i class="far fa-edit"></i>
                            <small>Edit</small>
                        <%end%>
                        <%= link_to parking_path(parking), method: :delete,data: { confirm: "Are you sure you want to Delete ?"}, style:"color:red;" do %>
                            <i class="far fa-trash-alt"></i>
                            <small>Delete</small>
                        <% end %>
                    </div>
            </div>
        </div>
    <% end %>
    </div>
</div>