<div class="container">
    <%= link_to  "Back", my_parkings_path, class:"btn btn-dark mb-2 mt-2" %>
    <%= simple_form_for parking do |f| %>
        <%= f.input :title%>
        <%= f.input :address%>
        <%= f.input :description%>
        <%= f.input :start_date%>
        <%= f.input :end_date%>
        <%= f.input :from_hour%>
        <%= f.input :to_hour%>
        <%= f.input :photo, as: :file %>
        <%= f.submit class:"btn btn-success"%>
    <% end %>
</div>