<div class="banner d-flex flex-column align-items-center justify-content-between" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://previews.123rf.com/images/jacquesdurocher/jacquesdurocher1806/jacquesdurocher180600025/105338313-many-no-parking-construction-orange-traffic-sing.jpg');">
   <div class="d-flex flex-column align-items-center mb-4">
    <h1>Welcome <%= current_user.first_name.capitalize if(user_signed_in?)%></h1>
  
    <div class="search-container d-flex justify-content-center">
      <%= simple_form_for :search, url: parkings_path, :html => {:class => 'form-inline'}, method: "get", defaults: {label: false} do |f| %>
      <%# <input type="search" id="address-input" placeholder="Where are we parking?" /> %>
      <%= f.input :address, input_html: { id: "address-input", value:""}, placeholder: "Where are we parking?"%>
      <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.submit class:"btn-search btn btn-info" %>
      <% end %>  
    </div>

    </div>
  <script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
  <script>
  var placesAutocomplete = places({
    appId: '39S0L9WP5M',
    apiKey: '250b2bf1d63c1be858fdb3447f836035',
    container: document.querySelector('#address-input')
  });
</script>
</div>
