<div class="main-container text-center">
    <h1>All parkings</h1>
</div>
<div class="container-cards-map">
    <div class="row">
    <% @parkings.each do |parking| %>
        <div class="col-xs-12 col-lg-4 align-self-stretch mb-3">
            <div class="card h-100">
                <% if parking.photo.attached? %>
                    <%= cl_image_tag parking.photo.key,class:"img-top", crop: :fill %>
                <% else %>
                    <%= image_tag "parking-spot.jpg", alttext:"", class:"img-top" %>
                <% end %>
                <div class="card-body">
                    <h5 class="card-title"><%= parking.description %></h5>
                    <p class="card-text"><%= parking.address %></p>
                </div>
                <div class="d-flex justify-content-between p-3">
                        <%= link_to "Show more", parking_path(parking), class:"btn btn-primary" %>
                </div>
            </div>
        </div>
    <% end %>
    </div>
    <div id="map"
        style="width: 150%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>