<div class="title text-center">
    <h1>All parkings</h1>
</div>
<div class="container">
    <div class="card">
        <% @parkings.each do |parking| %>
            <div class="photo">
                <% if parking.photo.attached? %>
                    <%= cl_image_tag parking.photo.key, crop: :fill %>
                <% else %>
                    <%= image_tag "parking-spot.jpg", class:"card-img-top" %>
                <% end %>
            </div>
                <div class="card-body ">
                    <div class="info-card">
                        <h5><%= parking.title %></h5>
                        <p><%= parking.address %></p>
                        <p><%= parking.start_date %> - <%= parking.end_date %></p>
                    </div>
                    <%= link_to "Show more", parking_path(parking), class:"btn btn-primary" %>
                </div>
        <% end %>
    </div>
  </div>
    <div id="map"
        style="width: 150%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>