<div class="container">
    <h1>All parkings</h1>
    <div class="row">
    <% @parkings.each do |parking| %>
        <div class="col-6">
            <div class="card shadow p-3 bg-white rounded mb-3">
                <% if parking.photo.attached? %>
                    <%= cl_image_tag parking.photo.key, height: 300, width: 400, crop: :fill %>
                <% else %>
                    <%= image_tag "parking-spot.jpg", alttext:"", class:"card-img-top" %>
                <% end %>
                <div class="card-body ">
                    <h5 class="card-title"><%= parking.description %></h5>
                    <p class="card-text"><%= parking.address %></p>
                    <div class="d-flex justify-content-between">
                        <%= link_to "Show more", parking_path(parking), class:"btn btn-primary" %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    </div>
</div>