<div class="container">
        <%= link_to  "Back", parkings_path, class:"btn btn-dark mb-2 mt-2" %>
        <div class="card mb-3">
            <div style="width:100%">
            <%= image_tag "parking-spot.jpg", alttext:"", class:"card-img-top" %>
            </div>
            <div class="card-body">
                <h5 class="card-title"><%= @parking.title %></h5>
                <p class="card-text"><%= @parking.description%></p>
                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">Last updated <%= time_ago_in_words(@parking.created_at)%></small>
                    <% unless(@parking.user == current_user) %>
                        <%= link_to "Book now", new_parking_booking_path(@parking),class:"btn btn-primary" %>
                    <%end%>
                </div>
            </div>
        </div>
</div>