<!DOCTYPE html>
<html>
  <head>
    <title>ParkIt</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>


  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/flashes' %>
  </body>
  
  <footer class="bg-dark text-center text-white mt>
    <div class="container p-4 pb-0">
      <section class="m-4">
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/school/le-wagon/" role="button">
        <i class="fab fa-linkedin-in"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/youssefrafra/park_it" role="button">
        <i class="fab fa-github"></i>
        </a>
      </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      ©2021 made at 
      <a class="text-white" href="https://www.lewagon.com/lille">Le Wagon - Lille</a>
    </div>
  </footer>
</html>
